:root {
	--gray: #efefef;
	--accent: #66c05d;
	--dark: #333;

  --font-family: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: var(--gray);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* header */

nav {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  gap: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}

.nav a {
  color: var(--dark);
  text-decoration: none;
}

.header{
  background-color: #fff;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: var(--accent);
}

.header__info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__info span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.header__info button, .footer-top-item button {
  width: 170px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: transparent;
  border: 2px solid var(--accent);
  cursor: pointer;
  transition: .2s ease;
}

.header__info button:hover, .footer-top-item button:hover {
  background-color: var(--accent);
}

hr {
  border: unset;
  border: 1px solid var(--gray);
}

.header__bottom {
  padding: 30px 0;
}

.header__bottom .nav {
  font-size: 16px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.logo__img {
  display: block;
  width: 80px;
  height: 80px;
}

/* banner */
.banner {
  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 192px 0;
}

.title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin-bottom: 50px;
}

.banner__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  max-width: 308px;
  margin-bottom: 50px;
}

.btn {
  width: 170px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  padding: 10px 44px;
  text-decoration: none;
  transition: .2s ease;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-bottom: 133px;
}

.grid-item-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.grid-item-img {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  text-align: center;
  margin-top: 70px;
}

.grid-item-left {
  grid-column: 1 / 3;
  grid-row: 3 / 4 ;
}

.grid-item-right {
  grid-column: 3 / 5;
  grid-row: 3 / 4 ;
}

.bg-white {
  background-color: #fff;
}

.bg-green {
  background-color: var(--accent);
  padding: 35px 45px 35px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 0;
}

.bg-green-item img {
  text-align: center;
}

.bg-green-item {
  display: flex;
  flex-direction: column;
}

.bg-green-item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 141%;
  color: #fff;
  margin-bottom: 25px;
}

.bg-green-item a {
  display: inline-block;
  width: 170px;
  height: 35px;
  border-radius: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
}

.bg-green-item a:hover {
  background-color: #fff;
  color: #333;
}

.bg-green input {
  width: 225px;
  height: 35px;
  border-radius: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #c4c4c4;
  border: none;
  text-align: left;
  padding-left: 25px;
}

.title-h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 38px;
  margin-top: 80px;
}

.grid-item-catalog {
  text-align: center;
  margin-bottom: 100px;
}

.bg-white {
  padding: 25px 30px;
}

.grid-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 141%;
  text-align: center;
  color: var(--dark);
}

.grid-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
}

.grid-btn {
  width: 130px;
  height: 35px;
  background-color: var(--accent);
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 9px 40px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  background-color: #fff;
}

.footer-bottom {
  background-color: var(--gray);
  padding: 25px 0;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  text-align: center;

}

.footer-bottom-wrapper p {
  margin: 0;
}

.footer-bottom-wrapper a {
  color: #828282;
  text-decoration: none;
}

.social {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.social-link {
  border: 2px solid var(--accent);
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.social-youtube, .social-vk, .social-fb, .social-inst {
  background-image: url('/img/yotube.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.social-vk {
  background-image: url('/img/vk.svg');
}

.social-fb {
  background-image: url('/img/fb.svg');
}
.social-inst {
  background-image: url('/img/inst.svg');
}

.footer-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 37px 0;
}

.footer-top-item span:first-child, .footer-top-item span:last-child {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-right: 104px;
}

.footer-top-item span:last-child {
  font-size: 16px;
}

.footer-top-item button {
  margin-left: 40px;
}



